@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

* {
  font-family: 'Helvetica';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7 !important;
}