.mobile-nav-container {
    height: 50px;
    padding: 10px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F7;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.link-item {
    text-decoration: none !important;
    opacity: 0.6;
}

.selected-link-item,
.link-item:hover {
    opacity: 1;
}